body{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Navigation bar*/
.parent-div{
  width: 100%;
  background-color: #e4e4db;
  border-bottom: 1px solid #3f3c3c;
  box-shadow: 0px 4px 6px 0 #3f3c3c;
}

nav{
  margin: auto;
  height: 70px;
  width: 80%;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
}

label{
  display: none;
}

.wine{
  font-size: 40px;
  margin-left: 20px;
  margin-top: 20px;
}

.ol li{
  display: inline-block;
  margin-right: 50px;
}

.navLink{
  color:#3f3c3c;
  text-decoration: none;
}

.ol li:hover{
  text-decoration: underline;
  opacity: 0.5;
  transition: .5s;
  color: #000000;
}

@media (max-width: 727px) {
  .ol li{
    margin-right: 30px;
  }
}

@media (max-width: 627px){

  label{
    display: block;
  }

  .nav-li{
    width: 100%;
  }

  .ol{
    position: absolute;
    right: -150%;
    width:100%;
    margin-top: 70px;
    transition: .5s;
  }

  .ol li{
    display: block;
    width: 100%;
    background-color: #e4e4db;
  }

  #check:checked ~ ol{
    right: 0;
  }
}

/*Home*/
section.home{
  background-size:auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-div{
  min-width: 50%;
  width: 50%;
}

.home-h1{
  font-family: fantasy;
  font-size: 5vw;
}

.home-para{
  color: #3f3c3c;
  font-weight:700;
}