body{
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

/*navigation*/
.parent-div{
  position: fixed;
  background-color: #e4e4db;
  width: 100%;
  display: flex;
}

#check{
  display: none;
}

.menu{
  margin-top: 20px;
  margin-right: 40px;
  height: auto;
  width: 30px;
  display: none;
}


nav{
  background-color: #e4e4db;
  height: 70px;
  padding: 0;
  margin: auto;
  margin-top:0;
  width: 80%;
  top: 0;
}

nav label.wine{
  font-size: 45px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
  line-height: 40px;
}

nav ul li{
  display: inline-block;
}

nav ul li a.nav-a{
  color: #3f3c3c;
  text-decoration: none;
  padding: 5px 10px;
  transition: .5s;
  font-family:Arial, Helvetica, sans-serif;
}

nav ul li a.nav-a:hover{
  opacity: .5;
  text-decoration:underline;
  transition: .5s;
}


@media (max-width:600px){
  .wine{
    line-height: 50px;
  }
  
  .menu{
      display: block;
      float: right;
  }

  nav ul{
      position: fixed;
      background-color: #e4e4db;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      transition: .5s;
      right: -150%;
  }

  nav ul li{
      display: block;
  }

  nav ul li a.nav-a{
      color: #3f3c3c;
  }

  nav ul li a.nav-a:hover{
      background-color: #efecec;
      color: #919090;
  }

  #check:checked~ul{
      right: 0;
  }
}

@media (max-width:800px){
  nav{
    width: 100%;
    margin-left: 10px;
  }
}

/*Home*/
section.home{
  background-size:auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-div{
  min-width: 50%;
  width: 50%;
}

.home-h1{
  font-family: fantasy;
  font-size: 5vw;
}

.home-para{
  color: #3f3c3c;
  font-weight:700;
}